body {
	width:100vw;
	height: 100vh;
	margin:0 0 0 0;
	min-width: 395px;
}

#header {
	position: absolute;
	width:100vw;
	height: 10vh;
	min-width: 395px;
}


#headerBackgroundImage {
	width: 100vw;
	background-image: url(images/header-background.jpeg);
	opacity: 0.85;
	background-size: cover;
	height: 10vh;
	position: absolute;
	z-index: 0.3;
}


#containerLanguageButtons {
	z-index: 1;
	position: absolute;
	margin-left: auto;
	margin-right: 0px;
	top:1vh;
	height: 5vh;
	width: 100vw;
	min-width: 395px;
}

#innerContainerLanguageButtons {
	position: absolute;
	right: 0px;
	width: 10vw;
	height: 5vh;
	min-width: 80px;
}


.languageFlags {
	position: absolute;
	display: inline-block;
	width: 28%;
	margin-left:2%;
	cursor: pointer;
}

#englishFlag {
	left:0%;
}


#dutchFlag {
	left:33%;
}


#papiamentoFlag{
	left:66%;
}


#containerHeaderButtons {
	position: absolute;
	bottom:0;
	width: 95vw;
	z-index: 1;
	min-width: 395px;
	left:5vw;
}

.innerContainerHeaderButtons {
	display: inline-block;
	width: 10vw;
	min-width: 86px;
	margin-right: 12vw;
	border: dotted red;
}

.headerButtons {
	position: relative;
	width:9vw;
	min-width:80px;
	display: inline-block;
	border: solid black;
	cursor: pointer;
	overflow: hidden;
	z-index: 1;
	fill: #BF7171;
}

.textButton {
	z-index: 1;
	text-align: center;
	font-size: 2.3vw;
	color:#BF7171;
}

/*
.textButton {
	z-index: 1;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	  	-webkit-touch-callout: none; /* iOS Safari */
    	-webkit-user-select: none; /* Safari */
     	-khtml-user-select: none; /* Konqueror HTML */
       	-moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.textButton:hover{
	color: #964d4d;
}




#frameContent {
	border: none;
	width: 100%;
	margin:0 0 0 0;
}


