body {
	width:100%;
	margin:0 0 0 0;
	min-width: 395px;
}



#headerImageContainer {
	top:20px;
	width: 100%;
	height: 600px;
	border: solid black 1px;
	background-image: url(images/wellness-garden-merano-hotel.jpg);
	background-size: cover;
}

#containerHomeText {
	position: absolute;
	top: 40%;
	width: 100%;
	height: 300px;
	background-color: #FCFCFC;
}

#boxHomeText{
	width: 40%;
	position: relative;
	top:10%;
	right:-50%;
}

h3, p {
	text-align: center;
}


#containerHomePreview {
	position: relative;
	width: 80%;
	top:160px;
	left: 10%;
}

.previews {
	display: inline-block;
	width: 30%;
}

.imagePreview {
	width: 80%;
	height: 80%;
}

.textPreview {
	width: 80%;
	text-align: center;
}