body {
	width:100%;
	margin:0 0 0 0;
	min-width: 395px;
}

#header {
	width:100%;
	height: 150px;
	background-image: url(images/header-background.jpeg);
	background-size: cover;
}

#headerimage {
	display: absolute;
	width: 100%;
}


#containerLanguageButtons {
	z-index: 1;
	position: absolute;
	left: 90%;
	top:10px;
	height: 30px;
	width: 10%;
}

.languageFlags {
	display: inline-block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin-right: 5px;
}


#containerHeaderButtons {
	position: absolute;
	top:60px;
	left: 6%;
	width: 88%;
}

.headerButtons {
	position: relative;
	margin-right:7%;
	width:15%;
	height: 2em;
	border-radius: 20em;
	background-color: #8698b3b3;
	display: inline-block;
	cursor: pointer;
	border: solid #8698b35c 1px;
	overflow: hidden;
}


.headerButtons:hover {
	background-color: #8698b3e0;
}

.textButton {
	line-height: 2em;
	text-align: center;
	font-size: 100%;
	font-weight: bold;
	  	-webkit-touch-callout: none; /* iOS Safari */
    	-webkit-user-select: none; /* Safari */
     	-khtml-user-select: none; /* Konqueror HTML */
       	-moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



#frameContent {
	border: none;
	width: 100%;
	height:1000px;
	margin:0 0 0 0;
}