body {
	width:100%;
	margin:0 0 0 0;
	min-width: 395px;
}

#header {
	position: absolute;
	width:100%;
	height: 100px;
	background-image: url(images/header-background.jpeg);
	opacity: 0.85;
	background-size: cover;
}

#headerimage {
	display: absolute;
	width: 100%;
	opacity: 0.9;
}


#containerLanguageButtons {
	z-index: 1;
	position: absolute;
	left: 90%;
	top:10px;
	height: 30px;
}

.languageFlags {
	display: inline-block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin-right: 5px;
}


#containerHeaderButtons {
	position: absolute;
	top:60px;
	left: 10%;
	width: 88%;
}

.headerButtons {
	position: relative;
	margin-right:7%;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
}


.textButton {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	color: #BF7171;
	  	-webkit-touch-callout: none; /* iOS Safari */
    	-webkit-user-select: none; /* Safari */
     	-khtml-user-select: none; /* Konqueror HTML */
       	-moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.textButton:hover{
	color: #964d4d;
}



#frameContent {
	border: none;
	width: 100%;
	height:1000px;
	margin:0 0 0 0;
}