body {
	width:100%;
	margin:0 0 0 0;
	min-width: 395px;
}



#headerImageContainer {
	top:20px;
	width: 100%;
	height: 600px;
	border: solid black 1px;
	background-image: url(images/wellness-garden-merano-hotel.jpg);
	background-size: cover;
}

#containerHomeText {    
	position: relative;
    top: 40%;
    width: 100%;
    background-color: #FCFCFC;
    padding-bottom: 50px;
}

#boxHomeText{
	width: 40%;
	position: relative;
	top:10%;
	left: 30%;
}

h3, p {
	text-align: center;
}

#containerHomePreviewBox{
	width: 100%;
	background-color: white;
	position: relative;
	top:-20px;
}

#containerHomePreview {
	position: relative;
	width: 80%;
	top:40px;
	left: 10%;
}

.previews {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
}

.imagePreview {
	width: 80%;
	height: 80%;
	margin-left: 10%;
}

.textPreview {
	width: 80%;
	text-align: center;
}