body {
	width:100%;
	margin:0 0 0 0;
	min-width: 395px;
}



#headerImageContainer {
	top:20px;
	width: 100vw;
	height: 70vh;
	background-image: url(images/wellness-garden-merano-hotel.jpg);
	background-size: cover;
}


#containerHomeText {    
	position: relative;
    top: -20vh;
    width: 100vw;
    background-color: #FCFCFC;
    padding: 50px 0 50px 0;
}


#boxHomeImage {
	position: relative;
	display: inline-block;
	width: 20vw;
	left: 15vw;	
}

#boxHomeImage > img {
	width: 20vw;
}

#boxHomeText{
	width: 40vw;
	display: inline-block;
	position: relative;
	top:10%;
	left: 30vw;
}
 
h3, p {
	font-size: 1.3vmax;
	text-align: center;
}

#containerHomePreviewBox{
	width: 100vw;
	background-color: white;
	position: relative;
	top:-20vh;
	border: solid;
}

#containerHomePreview {
	position: relative;
	width: 80%;
	left: 10%;
	border: dotted blue;
}

.previews {
	display: inline-block;
	width: 30%;
	height: 100%;
	margin-right: 0%;
}

.frameImage {
	overflow: hidden;
	width: 80%;
	height: 80%;
	margin-left: 10%;
	border: dashed red;
}

.imagePreview {
	height: 110%;
	width: 110%;
}

.textPreview {
	font-size: 1.5vw;
	width: 80%;
	text-align: center;
}


